.callout text {
  font: 10px sans-serif;
  font-weight: bold;
  dominant-baseline: middle;

  &.date {
    font-size: 8px;
    font-weight: normal;
    color: '#bbb';
  }
}

.x-axis,
.y-axis {
  color: #bbb;

  .tick line {
    opacity: 0.3;
  }
}

.bars .bar {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.line-chart {
  display: flex;
  justify-content: space-between;
  position: relative;

  .chart-title {
    grid-area: chart-title;
    z-index: 2;
  }

  .date-range {
    grid-area: range-selector;
    justify-self: end;
    z-index: 2;
  }

  svg {
    position: absolute;
  }
}

body {
  background-image: repeating-linear-gradient(
    rgb(164, 50, 50) 0px 1px,
    rgba(0, 0, 0, 0) 1px 100px
  ), repeating-linear-gradient(
    to right,
    rgb(164, 50, 50) 0px 1px,
    rgba(0, 0, 0, 0) 1px 100px
  );
}